GUILD_ID=""
DISCORD_TOKEN="" # Discord bot token
VERIFIED_ROLE_NAME="" # Name of the role given to verified users
SPREADSHEET_ID="" # ID of the spreadsheet containing the list of verified users
SPREADSHEET_EMAIL_RANGE="" # The range in the spreadsheet containing the emails the verified users
SPREADSHEET_DISCORD_RANGE="" # The range in the spreadsheet containing the usernames and tags of the verified users